<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <base href="<%= host %>" />
    <title>Generate colorful placeholders for your prototypes, wireframes, web sites and projects.</title>
    <link rel="icon" href="<%= host %>/public/img/favicon.ico" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-swatches/dist/vue-swatches.css">
    <link rel="stylesheet" href="<%= host %>/public/css/style.css">





</head>

<body>
<div id="app">

    <div class="container is-fullhd">

        <section class="hero">
            <div class="hero-body">
                <div class="container">

                    <div class="columns">
                        <div class="column has-text-centered">
                            <a href="<%= host %>"
                               title="Generate colorful placeholders for your web sites and projects."
                               class="logo">
                                <img src="<%= host %>/public/img/logo.png" width="200" height="59" alt="IMG.site">
                            </a>

                            <h1>Tool for everyday images</h1>
                            <p class="subtitle">
                                Generate colorful placeholders for your prototypes, wireframes, web sites and projects.
                            </p>
                        </div>
                    </div>


                    <!--<div class="columns">
                        <div class="column">
                            <p style="margin-bottom: 15px">
                        <span class="tag is-dark" style="font-size: 18px; font-family: Consolas;">
                        <%= host %>/p/:width/:height/:color/:type?size=true&label=image&label_color=f00&label_font_size=1.5
                        </span>


                            </p>

                            <p>
                                {{inputs}}
                                {{query}}
                            </p>

                        </div>
                    </div>-->


                    <div class="middle-warp">
                        <div class="columns is-multiple is-gapless">
                            <!--left-->
                            <div class="column is-5">
                                <div class="left repeated-item">
                                    <div class="has-text-centered">
                                        <p ><b>Quickly and easily create placeholder images</b></p>
                                        <br/>
                                    </div>
                                    <b-field grouped>

                                        <b-field label="Width" label-position="on-border" class="has-unit-px">
                                            <b-input v-model="inputs.uri.width"></b-input>
                                        </b-field>

                                        <b-field label="Height" label-position="on-border" class="has-unit-px">
                                            <b-input v-model="inputs.uri.height"></b-input>
                                        </b-field>

                                    </b-field>

                                    <b-field grouped>

                                        <b-field label="Image Color" class="sb-flex">
                                            <v-swatches
                                                    v-model="inputs.uri.color"
                                                    show-fallback
                                                    fallback-input-type="color"
                                                    popover-x="left"
                                            ></v-swatches>
                                        </b-field>

                                        <b-field>
                                            <b-select v-model="inputs.uri.type" placeholder="Image Type">
                                                <option value="stripes">
                                                    Stripes
                                                </option>
                                                <option value="solid-stripes">
                                                    Solid Stripes
                                                </option>
                                                <option value="solid-box">
                                                    Solid Box
                                                </option>
                                            </b-select>
                                        </b-field>
                                    </b-field>
                                    <hr>
                                    <b-field grouped>

                                        <b-field label="Text Over Image" label-position="on-border">
                                            <b-input v-model="inputs.query.label"></b-input>
                                        </b-field>

                                        <b-field label="Text Color" class="sb-flex">
                                            <v-swatches
                                                    v-model="inputs.query.label_color"
                                                    show-fallback
                                                    fallback-input-type="color"
                                                    popover-x="left"
                                            ></v-swatches>
                                        </b-field>


                                    </b-field>

                                    <b-field label="Text Size">
                                        <b-slider size="is-medium"
                                                  tooltip-always
                                                  :min="15"
                                                  :max="25" :step="1"
                                                  v-model="inputs.query.label_font_size">
                                        </b-slider>

                                        <!--<b-input v-model="query.label_font_size" placeholder=""></b-input>-->

                                    </b-field>

                                    <b-field class="has-margin-top-15">
                                        <b-switch v-model="inputs.query.size">Show Text Over Image</b-switch>

                                    </b-field>
                                    <!-- <button type="button" class="button is-primary is-rounded has-margin-top-15">Primary</button>-->

                                </div>


                            </div>
                            <!--/left-->

                            <!--right-->
                            <div class="column is-7">
                                <div class="right repeated-item has-text-centered">

                                    <div class="output-url">
                                        <b-field>
                                            <!--<b-input :value="url" expanded onClick="this.select(); "></b-input>-->
                                            <b-input expanded :value="url" id="link-text"
                                                     onClick="this.select();"></b-input>
                                            <p class="control">
                                                <b-tooltip label="Click to Copy" type="is-dark">
                                                    <button class="button" @click="copyLink">
                                                        <svg aria-hidden="true" viewBox="0 0 16 16" version="1.1"
                                                             data-view-component="true" height="16" width="16"
                                                             class="octicon octicon-clippy js-clipboard-clippy-icon d-inline-block">
                                                            <path fill-rule="evenodd"
                                                                  d="M5.75 1a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75v-3a.75.75 0 00-.75-.75h-4.5zm.75 3V2.5h3V4h-3zm-2.874-.467a.75.75 0 00-.752-1.298A1.75 1.75 0 002 3.75v9.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 13.25v-9.5a1.75 1.75 0 00-.874-1.515.75.75 0 10-.752 1.298.25.25 0 01.126.217v9.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-9.5a.25.25 0 01.126-.217z"></path>
                                                        </svg>
                                                    </button>
                                                </b-tooltip>


                                            </p>
                                        </b-field>

                                    </div>
                                    <p>You can click on the image to preview the actual size</p>
                                    <br/>

                                    <div class="img-output">
                                        <a :href="url" target="_blank">
                                            <img :src="url" :width="inputs.uri.width" :height="inputs.uri.height" />
                                        </a>
                                    </div>


                                </div>

                            </div>
                            <!--/right-->


                        </div>
                    </div>


                    <div class="columns is-multiple">

                        <div class="column is-half is-offset-one-quarter">


                        </div>

                    </div>


                </div>


            </div>
        </section>


    </div>


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.common.dev.min.js"
        integrity="sha512-TpgbLHXaTCAZ7ULhjopb1PveTz5Jx6KEQUtMfXhV0m0EArh+6O8ybZjjDN1Yug6oagN6iFm6EoMjuYSiFr0qXQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://unpkg.com/vue-swatches@2.1.1"></script>

<!-- Individual components -->
<script src="https://unpkg.com/buefy/dist/components/table"></script>
<script src="https://unpkg.com/buefy/dist/components/field"></script>
<script src="https://unpkg.com/buefy/dist/components/input"></script>
<script src="https://unpkg.com/buefy/dist/components/switch"></script>
<script src="https://unpkg.com/buefy/dist/components/select"></script>
<script src="https://unpkg.com/buefy/dist/components/slider"></script>
<script src="https://unpkg.com/buefy/dist/components/toast"></script>
<script src="https://unpkg.com/buefy/dist/components/tooltip"></script>
<script src="<%= host %>/public/js/script.js"></script>


</body>
</html>
